/* Navbar styles */
.navbarColor{
    width: 930px;
    height: 56px;
    position: absolute;
    background-color: #868e96;
}

.navbarBtnRight{
    float: right;
}

.newDropbtn {
    background-color: #868e96;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.newDropdown {
    position: relative;
    display: inline-block;
}

.newDropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.newDropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.newDropdown-content a:hover {
    background-color: #ddd;
    transition: 0.5s;
}

.newDropdown:hover .newDropdown-content {
    display: block;
}

.newDropdown:hover .newDropbtn {
    background-color: #007bff;
    transition: 0.5s;
}

.navbarSpace{
    margin-bottom: 2%;
}

/* button styles */
.mainBtn {
    background-color: #868e96;
    color: white;
    transition: 0.5s;
}
.mainBtn:hover {
    background-color: #007bff;
    transition: 0.5s;
}

.resizedActionBtn{
    width: 26px;
    height: 26px;
    border-radius: 6px;
}

.resizedActionBtn:hover{
    background-color: #007bff;
    padding: 1.5%;
    transition: 0.5s;
}

.spaceBtnLeft{
    margin-left: 2%;
}

.spaceBtnRight{
    margin-right: 2%;
}

/* Footer Styles */
.innerFooter{
    margin-top: 3%;
    width: 930px;
    height: 140px;
    background-color: rgba(255,255,255,0.65);
    background-attachment: fixed;
    background-position: center center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1.50);
}

.footerWidht{
    width: 930px;
    text-align: center;
    margin: 0 auto;
}

.textFooter{
    margin: 2%;
}

.footerLeftBtnSize{
    margin-left: 2%;
    width: 74px;
    height: 74px;
    position: absolute;
}

.footerRightBtnSize{
    margin-right: 5%;
    width: 74px;
    height: 74px;
    float: right;
}

.footerBtn{
    position: relative;
    transition: 0.3s;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 10%;
}

.footerBtn:hover{
    padding: 0%;
    transition: 0.3s;
}

.spaceTextTop{
    padding: 3%;
}

.spaceTextBottom{
    bottom: 6px;
}

.textPosition{
    position: absolute;
    left: 31%;
    width: 500px;
}

.textSpaceLeft{
    padding-left: 11%;
}

/* Insert Styles */
.insertHelp{
    width: 745px;
    height: 300px;
}

/* PdfView Styles */
.pdfSize{
    width: 100vw;
    height: 100vh;
    position: absolute;
}









.header{
    padding-top: 2%;
    font-family: Lobster;
    font-size: 70px;
    text-align: center;
    padding-bottom: 3%;
}

.loginText{
    margin: 2%;
    background-color: #868e96;
}

.table-stl-01{
    padding: 2%;
    padding-top: 4%;
    font-size: 14px;
}

.background-01{
    background-color: rgba(255,255,255,0.65);
}

.cont-01{
    font-size: 17px;
}

.cont-02{
    font-family: sans-serif;
}

body{
    background: url("#{resource['images:Background.png']}");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
}

.innerPage{
    width: 930px;
    padding-bottom: 1%;
    background-color: rgba(255,255,255,0.65);
    background-attachment: fixed;
    background-position: center center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1.50);
    margin: 0 auto;
}

.userAddAdjustment{
    margin-left: 80px;
}

.rightAdjustment{
    margin-left: 80px;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.spaceTop{
    padding-top: 1.5%;
}

.spacer{
    width: 900px;
    height: 2px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
}

.large-pg-1{
    width: 745px;
}

.large-pg-2{
    width: 890px;
}

.large-pg-3{
    width: 430px;
}

.space-bottom-1{
    margin-bottom: 0px;
}

.space-bottom-2{
    padding-bottom: 3%;
}

.space-bottom-3{
    margin-bottom: 1%;
}

.space-left-01{
    padding-left: 2%;
}

.space-left-02{
    padding-left: 1.5%;
}

.btn-style-01{
    width: 520px;
    height: 130px;
}

.btn-style-logout{
    width: 25px;
    height: 25px;
    margin-top: 0.5%;
    margin-right: 0.5%;
    float: right;
}

.btn-adjustment-01{
    float: right;
}

.square-01{
    width: 930px;
    padding: 1%;
}

.square-03{
    width: 540px;
}

.btn-action{
    width: 26px;
    height: 26px;
    margin-left: 7px;
}

.spaceBtn{
    margin: 1%;
}